body {
    background-color:#e6e6e6;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.list {
    padding: 2px;
    text-align: center;
    font-size: 17px;
}
p {
    font-size: 19px;
}
.list:link, .list:visited {
    color: #f86335;
    text-decoration: none;
}
.list:hover, .list:active {
    text-decoration: underline;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 80px;
}
.headerContent {
    display: flex;
    justify-content: space-between;
    width: 73%;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 40px;
    
}
.loginLogoutBtn:visited, .loginLogoutBtn:link {
    color: white;
    background-color: #f86335;
    padding: 15px 25px;
    margin: 25px 0px 25px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.loginLogoutBtn:hover, .loginLogoutBtn:active {
    background-color: #e2582e;
}
.button {
    
    color: white;
    background-color: #f86335;
    text-align: center;
    
    border: none;
    font-size: 16px;
    margin: 25px 0px 25px 0px;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
}

.content {
    background-color: white;
    margin: auto;
    margin-top: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    padding: 15px;
    width: 70%;
}
.flash {
    text-align: center;
}
.listsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5%;
    
}
.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-left: 1px solid;
    border-color: #bbbbbb;
    padding-left: 5%;
    
}