<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="headerContent">
            <h1 class="title">Catalog</h1>
            <a class="button" href="{{ url_for('login') }}">login</a>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>