<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename.css }}">
</head>
<body>
    <div class=header>
        <h1>Catalog</h1>
        <button class=button>login</button>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>