{% extends "base.html" %}
{% block content %}
<div class="categories">
    <h2>Categries</h2>
    {% for category in categories %}
        <a href="{{ url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
    {% endfor %}
</div>
<div class="items">
    <h2>Latest Items</h2>
    {% for item in items %}
        <a href="{{ url_for('showItem', category_name=item.category_name, item_name=item.name) }}">
            {{ item.name }}
            <i><span style="color:darkgray">({{item.category_name}})</span></i>
        </a>
    {% endfor %}
</div>
{% endblock %}
