{% extends "base.html" %}
{% block content %}
<div class="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="listsContainer">
<div class="categories">
    <h2>Categries</h2>
    {% for category in categories %}
        <a class="list" href="{{ url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
    {% endfor %}
</div>
<div class="items">
    <h2>Latest Items</h2>
    {% for item in items %}
        <a class="list" href="{{ url_for('showItem', category_name=item.category_name, item_name=item.name) }}">
            {{ item.name }}
            <i><span style="color:darkgray">({{item.category_name}})</span></i>
        </a>
    {% endfor %}
</div>
</div>
{% endblock %}
