{% extends "base.html" %}
{% include "header/private_header.html" %}
{% block content %}
<div>
    <h2>Edit Item</h2>
    <form method="POST" action="{{ url_for('editItem', category_name=item.category_name, item_name=item.name) }}">
        <label for=name>Name</label>
        <input type="text" name="name" value="{{ item.name }}">
        <label style="padding-top: 8px" for="description">Description</label>
        <textarea name="description" maxlength="250" rows="10">{{ item.description }}</textarea>
        <label style="padding-top: 8px" for="category">Category</label>
        <select name="category_name">
            {% for category in categories %}
                {% if category.name == item.category_name %}
                    <option value="{{ category.name }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="button" type="submit" value='Submit'>Save</button>
    </form>
</div>
{% endblock %}